<div class="col-md-6">
    <!-- Card group -->
    <div class="card-group">

        <div class="card mb-4">
            <div class="card-body">
                <h6 class="card-title">Customers:</h6>


                <p class="card-text blue-text"><i class="fas fa-thumbs-up fa-2x"></i><span class="ml-2"
                        style="font-size: 30px;">987</span>,654</p>

            </div>
            <!-- Card content -->

        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">

            <!-- Card content -->
            <div class="card-body">
                <!-- Title -->
                <h6 class="card-title">Money: </h6>
                <!-- Text -->
                <p class="card-text red-text"><i class="fas fa-thumbs-down fa-2x"></i></i><span class="ml-2"
                        style="font-size: 30px;">123</span>,456</p>
            </div>
            <!-- Card content -->

        </div>
        <!-- Card -->

    </div>
    <!-- Card group -->
</div>