<% if(currentUser){ %>
<div class="row">
    <div class="col-8">
        <h2>Welcome, <%= currentUser.fullName %></h2>
        <div class="card">
            <div class="card-header">
                Total balance
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-md">
        <h1> Latest news </h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in turpis velit. Suspendisse in magna sit
            amet lorem aliquam ultrices nec sed arcu. Nulla quis leo est. Phasellus vitae dictum erat. Proin ac
            risus in ligula venenatis aliquet. Aenean iaculis porttitor tristique. Vivamus vitae accumsan ante.
            Proin gravida ligula orci, eu sollicitudin nibh suscipit vitae. Suspendisse euismod, orci vel imperdiet
            feugiat, nisi neque placerat sapien, nec vestibulum elit risus at velit.

            Duis in tristique sapien, eget euismod lorem. Nam consectetur nisi quis sem imperdiet placerat. Orci
            varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce hendrerit nulla
            fermentum, pulvinar nunc sit amet, auctor arcu. Ut nec condimentum lacus. Aliquam ac ex sed turpis
            finibus elementum non vitae dui. Proin interdum erat efficitur urna tincidunt pretium. </p>
    </div>

    <% } %>