body {
  background: #f4f4f4;
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


/* Footer */
#footer {
  background: #333333;
  color: #ffffff;
  text-align: center;
  padding: 30px;
  margin-top: 30px;
}

a {
  color: #00B7FF;
}

footer {
  position: relative;
  margin-top: 200px;
  bottom: 0;
  width: 100%;
}

.carousel-caption {
  color: black;
  background-color: #acacac75;
  border-radius: 10px;
}

#newsAccordion {
  max-height: 250px !important;
  overflow-y: auto;
}